---
import AuthorCard from "@components/AuthorCard.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const authors = await getCollection("author");
---

<Layout>
  <section>
    <h1 class="text-3xl font-semibold text-gray-300 capitalize lg:text-4xl">
      David's Blog
    </h1>
  </section>

  <section class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    {authors.map((author) => <AuthorCard author={author} />)}
  </section>
</Layout>
