---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import TypedBlogPost from "@components/TypedBlogPost.astro";

const blogPosts = await getCollection("blog");
---

<Layout title="David's Blog">
  <!-- component -->
  <section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <h1
        class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white"
      >
        David's Blog
      </h1>
      <a class="text-blue-600 hover:underline" href="/blog/1">Paginated blog</a>
      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {blogPosts.map((post) => <TypedBlogPost post={post} />)}
      </div>
    </div>
  </section>
</Layout>
